body {
    background: ghostwhite;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 60px;
}

.mars-color {
    color: #d33d1f;
}

.earth-color {
    color: #2a8442;
}

.intro {
    font-size: 24px;
}

/* buttons */

.style-btn {
    display: inline-block;
    background: cornflowerblue;
    padding: 4px 10px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 5px;
}

.style-btn:hover,
.style-btn:focus {
    color: red;
}